<!-- Category Component -->
<div class="wrap-categories">
  <ul class="item-wrap-category">
    <li *ngFor="let category of categoryList" class="list-category">
      <button (click)="filterCategory(category.name)" class="btn">{{ category.name }}</button>
    </li>
  </ul>
</div>

<!-- Product Component -->
<div class="product">
  <ul>
    <ng-container *ngIf="productList.length; else noData">
      <li class="product-wrap" *ngFor="let product of productList">
        <img [src]="product.images?.[0]" [alt]="product.title" class="product-logo">
        <div class="product-description">
          <h1>{{ product.title }}</h1>
          <p>{{ product.description }}</p>
          <div class="product-bottom">
            <span>{{ product.price | currency }}</span>
            <span>{{ product.category?.name }}</span>
          </div>
        </div>
      </li>
    </ng-container>
    <ng-template #noData>
      No Data Found
    </ng-template>
  </ul>
</div>
