<div class="wrap-categories">
  <ul class="item-wrap-category">
    <li *ngFor="let item of categoryList" class="list-category">
      
      <button (click)="filterCategory(item.name)" class="btn">{{item.name}}</button>
    </li>
  </ul>
</div>

<div class="product">
  <ul>
    <li class="product-wrap" *ngFor="let item of productList">
      <img src={{item.images[0]}} alt={{item.title}} class="product-logo">
      <div class="product-description">
        <h1>{{item.title}}</h1>
        <p>{{item.description}}</p>
        <div class="product-bottom">
          <span>{{item.price | currency}}</span>
          <span>{{item.category.name}}</span>

        </div>
      </div>

    </li>
  </ul>
</div>